<div class="d-flex flex-column justify-content-between" style=" height: 100%; " dir="rtl">
    <form [formGroup]="reAssignGroup" style="min-height: auto;">
     
        <div class="row">
            <div *ngIf="showGovern" class="col-6">
                <label for="governorate">{{'GOVERNORATES' |translate}}</label>
                <fieldset class="form-group">
                    <span class="p-fluid">
                        <!-- <p-dropdown id="governorate" formControlName="governorate" [options]="governorates"
                            optionLabel=""></p-dropdown> -->
                        <p-multiSelect id="governorate" [options]="governorates" formControlName="selectedGovernorates"
                            [filter]="false" optionLabel="name_ar" display="chip"></p-multiSelect>
                    </span>
                </fieldset>
            </div>
            <div *ngIf="showPharma" class="col-6">
                <label for="pharmacies">{{'PHARMACIES' |translate}}</label>
                <fieldset class="form-group">
                    <span class="p-fluid">
                        <p-autoComplete id="pharmacies" formControlName="selectedPharmacies" [suggestions]="pharmacies"
                            (completeMethod)="getPharmacyByName($event)" [multiple]="true"
                            optionLabel='pharmacy_name' />
                        <small style="color: red;" *ngIf="showHint">* {{'AUTOCOMPLETEHINT' | translate}}</small>

                    </span>
                </fieldset>
            </div>
        </div>
    </form>

    <div style="height:auto; margin-top: 100px;">
        <div class="row justify-content-between">
            <button pButton type="button"
                [style]="{'background':'#205692', 'padding':'10px 0px','color':'white', 'max-width':'150px','min-width':'100px','border-radius':'4px','border':'1px #205692 solid'}"
                [label]="'REASSIGN'|translate" (click)="reAssign()"></button>

            <button pButton type="button"
                [style]="{'background':'red',  'padding':'10px 0px','color':'white', 'max-width':'150px','min-width':'100px','border-radius':'4px','border':'1px red solid'}"
                [label]="'CANCEL'| translate" class="ui-button-secondary" (click)="onCancel()"></button>
        </div>

    </div>

</div>