<p-toast position="top-left" key="tl"></p-toast>

<div class="row">
    <h4 class="col-md-6 my-3">{{"PHARMACIES" |translate}}</h4>

    <!-- <div class="col-md-6 my-3" style="text-align: end;">
        <button class="btn px-5" (click)=""
            style="background-color: #205692; color: white;">{{''|translate}}</button>
    </div> -->
</div>

<div class="col mt-5">
    <p-table selectionMode="single" *ngIf="pharmacies.length > 0" [dir]="dir" [value]="pharmacies"
        (sortFunction)="customSort($event)" [customSort]="true" [scrollable]="true" scrollWidth="800px"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id" style="min-width: 230px;" *ngFor="let head of headers">
                    {{head|translate}}<p-sortIcon [field]="head"></p-sortIcon></th>
                <th style="min-width: 250px;">{{'ACTION'|translate}} </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pharmacies let-columns="columns">
            <tr class="m-5">

                <td>{{pharmacies.id}}</td>


                <td style="text-transform: capitalize;">{{ pharmacies.pharmacy_name??"Not Provider"}}</td>
                <td style="text-transform: capitalize;">{{pharmacies.sign_name??"Not Provider"}}</td>


                <td [class]="getStatusCalss(pharmacies.status)">{{pharmacies.status??"Not Provider"}}</td>
                <td>{{pharmacies.pharmacy_type}}</td>
                <td>{{pharmacies.governorate.name_ar}}</td>
                <td>{{pharmacies.createDateTime|date}}</td>
                <td>{{pharmacies.createdBy??"Not Provider"}}</td>

                <td class="d-flex justify-content-center">
                    <span *ngIf="pharmacies.status=='pending'">
                        <button class="py-2 mx-3"
                            style="background-color:green; color: #fff;  border-radius:5px; min-width: 145px; border: green; "
                            (click)="acceptRejectedPharmacy(pharmacies.id,'approved')"
                            type="button">{{'ACCEPT'|translate}} </button>
                    </span>
                    <span *ngIf="pharmacies.status=='pending'">
                        <button class="py-2 "
                            style="background-color:red; color: #fff;  border-radius:5px; min-width: 145px; border: red; "
                            (click)="acceptRejectedPharmacy(pharmacies.id,'rejected')"
                            type="button">{{'REJECT'|translate}} </button>

                    </span>
                    <span class="mx-3">
                        <button class="py-2 "
                            style="background-color: #205692; border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                            (click)="pharmacyDetails(pharmacies)" type="button">{{'DETAILS'|translate}}</button>
                    </span>

                    <span class="mx-3">
                        <button class="py-2 "
                            style="background-color: #205692; border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                            (click)="uploadDipensingLetter(pharmacies.id)" type="button">{{'UPLOADDOC'|translate}}
                        </button>
                    </span> <span class="mx-3">
                        <button class="py-2 "
                            style="background-color: #205692; border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                            (click)="assignToInspector(pharmacies.id)"
                            type="button">{{'ASSIGNTOINSPECTOR'|translate}}</button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template> -->
    </p-table>
    <p-paginator *ngIf="pharmacies.length > 0" (onPageChange)="onPageChange($event)" [rows]="pageSize"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10, 15,20]" />
    <p-card *ngIf="pharmacies.length == 0" class="d-flex justify-content-center rounded">
        <h4 class="mx-5 my-3">{{'NOPHARMACIESFOUND'| translate}}</h4>
    </p-card>

</div>