<div class="container " style="position: relative; height: 100%; " dir="rtl">
    <form [formGroup]="addInspectorGroup">
        <div class="row">
            <div class="col-12 my-3">
                <input type="text" class="form-control" [placeholder]="'NAME'|translate" aria-label="name"
                    aria-describedby="basic-addon1" formControlName="name">
            </div>

            <div class="col-12 my-3">
                <input type="text" class="form-control" [placeholder]="'EMAIL'|translate" aria-label="email"
                    aria-describedby="basic-addon1" formControlName="email">
            </div>

            <div class="col-12 my-3">
                <input type="text" class="form-control" [placeholder]="'PASSWORD'|translate" aria-label="password"
                    aria-describedby="basic-addon1" formControlName="password">
            </div>
            <!-- <div class="col-12">
                <label for="role">{{'ROLE' |translate}}</label>
                <fieldset class="form-group">
                    <span class="p-fluid">
                        <p-dropdown id="role" formControlName="role" [options]="adminRole"
                            optionLabel="" style="text-transform: capitalize;"></p-dropdown>
                    </span>
                </fieldset>
            </div> -->
        </div>
    </form>
    <div class="row "
        style="width: 100%; position: absolute; bottom: 0; display: flex; justify-content: space-between;">
        <button pButton type="button"
            [style]="{'background':'#1E2337', 'padding':'10px 0px','color':'white', 'max-width':'150px','min-width':'100px','border-radius':'4px','border':'1px #1E2337 solid'}"
            [label]="'CREATEADMIN'|translate" (click)="addInspector()"></button>

        <button pButton type="button"
            [style]="{'background':'red',  'padding':'10px 0px','color':'white', 'max-width':'150px','min-width':'100px','border-radius':'4px','border':'1px red solid'}"
            [label]="'CANCEL'| translate" class="ui-button-secondary" (click)="onCancel()"></button>
    </div>

</div>