<div class="container" style="position: relative; height: 100%; " dir="rtl">
    <div style="  height: 80%; align-items: center; justify-content: center; display: flex;">
        <h4 class="mb-5">
            {{'DELETEADMINSENTANCE'|translate}}
        </h4>
    </div>
    <div class="row" style="width: 100%; position: absolute; bottom: 0; display: flex; justify-content: space-between;">
        <button pButton type="button"
            [style]="{'background':'#205692', 'padding':'10px 0px','color':'white', 'max-width':'150px','min-width':'100px','border-radius':'4px','border':'1px #205692 solid'}"
            [label]="'DELETE'|translate" (click)="deleteAdmin()"></button>

        <button pButton type="button"
            [style]="{'background':'red',  'padding':'10px 0px','color':'white', 'max-width':'150px','min-width':'100px','border-radius':'4px','border':'1px red solid'}"
            [label]="'CANCEL'| translate" class="ui-button-secondary" (click)="onCancel()"></button>
    </div>
</div>