<div class="container " style="position: relative; height: 100%; " dir="rtl">


    <div class="row">
        <div class="container-shape   col-12  d-flex justify-content-between align-items-center">
            <span>{{'PHARMACYNAME'|translate}} </span>
            <span>{{ pharmacy.pharmacy_name}}askaslkdasdlkadskopas </span>
        </div>
        <div class="container-shape container-shape-width  col-6    d-flex justify-content-between align-items-center">
            <span>{{'SIGNNAME'|translate}} </span>
            <span>{{pharmacy.sign_name}}</span>
        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'PHARMACYTYPE'|translate}} </span>
            <span>{{pharmacy.pharmacy_type}} </span>

        </div>

        <div class="container-shape  col-12 d-flex justify-content-between align-items-center">
            <span>{{'ADDRESS'|translate}} </span>
            <span>{{pharmacy.address}} </span>

        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'LICENSENUM'|translate}} </span>
            <span>{{pharmacy.license_number}} </span>

        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'LICENSEISSUEDATE'|translate}} </span>
            <span>{{pharmacy.license_issue_date|date}} </span>

        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'COMMERCIALNUM'|translate}} </span>
            <span>{{pharmacy.commercial_reg_number}} </span>

        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'AUTHORITYBRANCH'|translate}} </span>
            <span>{{pharmacy.authority_branch}} </span>

        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'CONTRACTSTATEDATE'|translate}} </span>
            <span>{{pharmacy.contract_start_date|date}} </span>

        </div>
        <div class="container-shape container-shape-width col-6 d-flex justify-content-between align-items-center">
            <span>{{'GLN'|translate}} </span>
            <span>{{pharmacy.gln}} </span>

        </div>

    </div>
    <div class="row">
        <div class="col-b  my-3  w-50    d-flex  justify-content-between align-items-center ">
            <span>
                License Document
            </span>
            <button class="py-2 "
                style="background-color: #205692; border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                type="button">{{'VIEW'|translate}} <span class="pi pi-image"></span></button>

        </div>
        <div class="col-b  my-3  w-50  d-flex justify-content-between align-items-center">
            <span>
                Tax Card Document
            </span>
            <button class="py-2 "
                style="background-color: #205692;border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                type="button">{{'VIEW'|translate}} <span class="pi pi-image"></span></button>
        </div>
        <div class="col-b  my-3  w-50  d-flex justify-content-between align-items-center">
            <span>
                Commercial Registration Document
            </span>
            <button class="py-2 "
                style="background-color: #205692;border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                type="button">{{'VIEW'|translate}} <span class="pi pi-image"></span></button>
        </div>
        <div class="col-b  my-3  w-50  d-flex justify-content-between align-items-center">

            <span>
                Ministry Approval Document
            </span>
            <button class="py-2 "
                style="background-color: #205692;border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                type="button">{{'VIEW'|translate}} <span class="pi pi-image"></span></button>

        </div>
        <div class="col-b  my-3  w-50   d-flex justify-content-between align-items-center">

            <span>
                Dispensing Document
            </span>
            <button class="py-2 "
                style="background-color: #205692;border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                type="button">{{'VIEW'|translate}} <span class="pi pi-image"></span></button>

        </div>
        <div class="col-b  my-3  w-50   d-flex justify-content-between align-items-center">

            <span>
                Supporting Document
            </span>
            <button class="py-2 "
                style="background-color: #205692;border: none; color: #fff;  border-radius:5px; min-width: 145px;  "
                type="button">{{'VIEW'|translate}} <span class="pi pi-image"></span></button>

        </div>
    </div>
</div>
 