<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed-ltr' : ''" [dir]="dir">
    <div>
        <ng-template [ngIf]="!collapsed">
            <a class="logo" (click)="strech()"><img src="
                assets/logo_item.png" alt="" width="60px" style="margin: 10px;"></a>
        </ng-template>
        <!-- <ng-template [ngIf]="collapsed">
            <a class="btn-close" *ngIf="collapsed" (click)="close()">
                <i class="pi pi-times   close-icon" style="color: black;margin: 10px;"></i>
            </a>
        </ng-template> -->
    </div>
    <div class=" head row d-flex justify-content-center align-items-center text-center" *ngIf="collapsed">

        <h4>
            {{'RecentActivity'|translate}}
        </h4>

    </div>
    <div class="nav-list p-3"
     *ngIf="collapsed"
     >
        <ng-template [ngIf]="activitiesData.length > 0">
            <div class="mb-2" *ngFor="let tab of activitiesData">
                <div class="row ">
                    <div class="col-2 text-center   p-2 "> <img src="assets/activity.png" width="30px" height="30px"
                            alt="Activity Image">
                    </div>

                    <div class="col-8 ">
                        <span style="font-size: 10px;font-weight: bold;">{{ tab.title }}</span><br>
                        <span style="font-size: 10px;">{{ tab.createdAt | date }}</span>
                    </div>
                </div>
            </div>

        </ng-template>
        <ng-template [ngIf]="activitiesData.length == 0">
            <div class="d-flex text-center align-items-center  justify-content-center"
                style="height: 80vh; font-size: 14px; font-weight: bold;"> {{'NOACTIVITIES'|translate}}</div>
        </ng-template>

    </div>


</div>