<div class="sidenav" [ngClass]="collapsed?'sidenav-collapsed':''">
    <div>
        <ng-template [ngIf]="!collapsed">
            <a class="logo" (click)="strech()"><img src="
                assets/logo_item.png" alt="" width="60px" style="margin: 10px;"></a>
        </ng-template>
        <!-- <div style="  text-align: end;">
            <ng-template [ngIf]="collapsed">
                <a class="btn-close" *ngIf="collapsed" (click)="close()">
                    <i class="pi pi-times   close-icon" style="color: white;margin: 10px; right: 0px;"></i>
                </a>
            </ng-template>
        </div> -->
    </div>
    <div [style]="{'width':'250px'}" class="logo-container text-center" *ngIf="collapsed">
        <img src="assets/logo.png" alt="" width="220px" class="img">

    </div>

    <div class="scrollwarp scrollwarp_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let tab of navbarData">

        
                <a *ngIf="!tab.subItem || (tab.subItem  && tab.subItem.length === 0)" [routerLink]="[tab.routerLink]"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="sidenav-nav-link">
                    <i class="sidenav-link-icon" [ngClass]="[tab.icon]"></i>
                    <span class="sidenav-link-text" *ngIf="collapsed">
                        {{tab.lable }}
                    </span>
                </a>

            </li>
            <div></div>
            <li class="sidenav-nav-item">
                <a (click)="logout()" class="logout">
                    <i class="sidenav-link-icon pi pi-sign-out"></i>
                    <span class="sidenav-link-text" *ngIf="collapsed">
                        {{logoutLable}} </span>

                </a>
            </li>
        </ul>
    </div>
</div>